body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: linear-gradient(
		to bottom right,
		rgb(199, 0, 0),
		rgb(255, 200, 0)
	);
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	z-index: 1000;
}

.mainContent {
	padding-top: 50px; /* Adjust this if your top-bar height changes */
	flex-grow: 1;
	display: flex;
	justify-content: center;
	overflow: hidden; /* Prevent extra scrollbar */
}

.messages {
	list-style-type: none;
	padding: 0;
	margin: 0; /* Remove margin to avoid extra space */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 800px; /* Increase width to cover more of the screen */
	overflow-y: auto; /* Only this element should be scrollable */
	padding-bottom: 100px; /* Create more space for the input bar */
	padding-right: 20px !important;
}

.messages::-webkit-scrollbar {
	width: 12px;
}

.messages::-webkit-scrollbar-track {
	background: transparent;
}

.messages::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 6px;
	border: 3px solid transparent; /* Move scrollbar to the right */
}

.messages::-webkit-scrollbar-thumb:hover {
	background-color: #333;
}

.formContainer {
	background: grey;
	padding: 0.25rem;
	display: flex;
	align-items: center;
	height: 3rem; /* Increased height for better look */
	box-sizing: border-box;
	width: 80%; /* Set the width to about 80% of the page */
	max-width: 800px; /* Set a max width for the form container */
	margin: 20px auto; /* Center the form container with some margin */
	border-radius: 6px;
}

.form {
	display: flex;
	width: 100%; /* Ensure the form takes up the full width of the container */
}

#input {
	border: none !important;
	padding: 0 1rem !important;
	flex-grow: 1 !important;
	border-radius: 2rem !important;
	margin: 0.25rem !important;
	height: 2rem !important; /* Adjusted height */
	background: white !important; /* Ensure the background is white */
}

#input:focus {
	outline: none !important;
}

#form > button {
	background: #333;
	border: none;
	padding: 0 1rem;
	margin: 0.25rem;
	border-radius: 3px;
	outline: none;
	color: #fff;
	height: 2rem; /* Match the height of the input */
	display: flex;
	align-items: center;
}

.errorMessage {
	color: red;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.messageContainer {
	display: flex;
	flex-direction: row; /* Change to row to place timestamp next to message */
	align-items: center;
	margin: 5px 0;
}

.message {
	display: inline-block;
	max-width: 80%; /* Increase to cover more of the screen */
	padding: 5px 10px; /* Reduced padding */
	border-radius: 10px; /* Round all corners */
	margin: 0 5px 0 0; /* Adjust margin to align with timestamp */
	word-wrap: break-word;
	line-height: 1.5; /* Adjust line height */
}

.user {
	background-color: black;
	align-self: flex-start; /* Align sender messages to the left */
	border-radius: 10px; /* Round all corners */
	color: white;
}

.recipient {
	background-color: #333;
	align-self: flex-end; /* Align recipient messages to the right */
	border-radius: 10px; /* Round all corners */
	color: white;
}

.timestamp {
	font-size: 0.6rem;
	color: white; /* Set timestamp color to white */
	margin-left: 5px;
	align-self: flex-end;
}

.topBar {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.cogButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	margin-left: 10px;
	color: #333;
	position: relative;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	bottom: 40px; /* Position the dropdown above the cog button */
}

.dropdownContent button {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	background: white;
	border: none;
	cursor: pointer;
}

.dropdownContent button:hover {
	background-color: #f1f1f1;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selectChat {
	appearance: none;
	background-color: #333;
	color: white;
	border: none !important;
	padding: 5px;
	border-radius: 5px;
	font-size: 1rem;
	margin-right: 1px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	cursor: pointer;
}

.selectChat option {
	background-color: white;
	color: black;
	padding: 10px;
}

.selectChat::-ms-expand {
	display: none;
}

.selectChat::after {
	content: "▼";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	pointer-events: none;
}

.bottomBar {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.15);
	width: 100%;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
}

.profilePicture {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.recipientInfo {
	display: flex;
	align-items: center;
	margin: 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	color: white;
	justify-content: center;
	padding-right: 40px;
}

.recipientProfilePicture {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-left: 3%;
	margin-right: 10px;
	border: 2px solid rgb(240, 130, 4); /* Added border */
}

.recipientName {
	font-size: 1.5rem;
	font-weight: bold;
}

.form {
	display: flex;
	width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
	.formContainer {
		width: 90%; /* Set the width to 90% for smaller screens */
		bottom: 5px; /* Adjust the bottom position for smaller screens */
	}

	#input {
		height: 1.8rem !important; /* Adjust height for smaller screens */
	}

	#form > button {
		height: 1.8rem; /* Adjust height to match the input on smaller screens */
	}
}
