.home {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: calc(100vh - 56px); /* 56px is the height of the navbar */
	width: 100%;
	overflow: hidden;
}

.main-logo {
	height: 1000px;
	width: 1000px;
}
