.login-container {
	border: 4px solid black;
	border-radius: 5px;
	background-color: white;
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	height: calc(100vh - 56px); /* 56px is the height of the navbar */
	background-image: linear-gradient(
		to bottom right,
		rgb(199, 0, 0),
		rgb(255, 200, 0)
	);
}

.red-btn {
	background-color: red;
	color: white;
}

.red-btn:hover {
	background-color: rgb(196, 0, 0);
}

.sign-up {
	margin-bottom: 20px;
}
