html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: white;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
}

.gold-container {
	background-color: rgb(255, 200, 0);
	width: 90%;
	height: 100%;
}

.std-link {
	color: red;
}

.std-link:visited {
	color: red;
}
